[Unit]
Description=brightness-service-of-home-air-quality-and-assistant
After=graphical.target
After=network.target
# Hopefully it should be enforced: https://github.com/systemd/systemd/issues/5097
Wants=time-sync.target

[Service]
ExecStart=/home/pi/home-air-quality-and-assistant/brightness.sh
WorkingDirectory=/home/pi/home-air-quality-and-assistant
StandardOutput=inherit
StandardError=inherit
User=pi

StartLimitInterval=5min
StartLimitBurst=5

Restart=always
RestartSec=90s
TimeoutSec=infinity
TimeoutStartSec=90s
TimeoutStopSec=20s
# Turn it on only when you are absolutely and positively sure that this service works tip-top, otherwise you may experience reboot loop
#StartLimitAction=reboot
# Watchdog unleashed. The value must not be lower than 30s
WatchdogSec=90s
Type=notify
NotifyAccess=all

[Install]
WantedBy=graphical.target
