[Unit]
Description=visualizer-service-of-home-air-quality-and-assistant
After=graphical.target
After=network.target
# Hopefully it should be enforced: https://github.com/systemd/systemd/issues/5097
Wants=time-sync.target

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/home/pi/home-air-quality-and-assistant/visualizer.sh
WorkingDirectory=/home/pi/home-air-quality-and-assistant
StandardOutput=journal
StandardError=journal
User=pi

StartLimitInterval=5min
StartLimitBurst=5

# disabled for now since notifications for watchdog is not supported yet
Restart=always
#RestartSec=10s
#TimeoutSec=infinity
#TimeoutStartSec=60s
#TimeoutStopSec=20s
# Turn it on only when you are absolutely and positively sure that this service works tip-top, otherwise you may experience reboot loop
#StartLimitAction=reboot
# Watchdog unleashed. The value must not be lower than 60s + some time to eventually get data
#WatchdogSec=120s
#Type=notify
#NotifyAccess=all

[Install]
WantedBy=graphical.target
